:root {
  --primary-dark: #1d3557;
  --off-white: #f9f9f9;
  --primary-contrast: #e63946;
  --clear-white: #fff;
  --primary-dark-tint: #99abc3;

  --color-form-error: rgb(207, 70, 80);
  --color-form-green: rgb(13, 192, 117);

  --max-page-width-large: 1450px;
  --max-page-width-medium: 1300px;
  --max-page-width: 1200px;
  --max-page-width-alt: 1100px;
  --page-gutter: 1.5rem;
  --page-spacing: 1rem;
}
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  /* scroll-behavior: smooth; */
}
body {
  overflow-x: hidden;
  background-color: var(--primary-dark);
  color: var(--off-white);
}
img {
  max-width: 100%;
}
button {
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
  -webkit-appearance: none;
}
textarea,
input {
  border-radius: 0;
  -webkit-appearance: none;
}

.narrow_content_container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.section {
  width: 100%;
  display: flex;
  margin-bottom: 10rem;
  padding: 2rem 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media-breakpoint-up(sm) {
    padding: 2rem #{$page-gutter};
  }
  @include media-breakpoint-up(md) {
    padding: 2rem calc(#{$page-gutter} * 2);
  }
  &--small-mb {
    margin-bottom: 4rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 5rem;
    }
  }
  &--full-width {
    padding: 2rem 0 !important;
    @include media-breakpoint-up(md) {
      padding: 2rem 0 !important;
    }
  }
  &--restrict {
    max-width: var(--max-page-width);
  }
  &--restrict-large {
    max-width: var(--max-page-width-large);
  }
  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }
}
.space-between {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
}

.space-around {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    justify-content: space-around;
  }
}

.card-container {
  width: calc(100% + #{$page-spacing});
  margin-left: -$page-spacing;

  display: flex;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/* *:focus,
*:focus-within {
  outline: black 2px solid !important;
}
 */
